[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone50.cfg

[versions]

# Added by buildout at 2021-06-24 10:26:30.272008
collective.recipe.cmd = 0.11
createcoverage = 1.5
pathtools = 0.1.2
pkginfo = 1.7.0
requests-toolbelt = 0.9.1

# Required by:
# zest.releaser==6.15.0
colorama = 0.4.4
